@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
    --primary: '#1A8F98';
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.inter {
  font-family: var(--font-inter);
}

.clash {
  font-family: var(--font-clash-display);
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

